*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg-for-desktop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(./background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
}

.content{
    position: absolute;
    top: 0;
    width: 100%;
}
.content .logo{
    width: 400px;
    height: 150px;
    margin: 30px auto 0px;
}
.content .logo img{
    width: 100%;
    height: 100%;
}
.content .text{
    width: 250px;
    margin: 10px auto 0px;
}
.content .text img{
    width: 100%;
    height: 140px;
}
.content .detail{
    width: 400px;
}
.content .detail img{
    width: 100%;
    height: 100%;
}
.content .poster{
    width: 400px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none !important;
}
.content .poster img{
    width: 100%;
    height: 340px;
}
.content .link-contact{
    width: 300px;
    margin: 30px auto 0px;
}
.content .link-contact img{
    width: 100%;
    height: 100%;
    background-color: #ff0000;
}
.content .link-download{
    width: 700px;
    margin: 50px auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .link-download img{
    width: 300px;
    height: 100%;
    background-color: #ff0000;
}
.tree{
    display: none;
}

@media (min-width: 320px) and (max-width: 480px){
    .bg-for-desktop{
        display: none;
    }
    .tree{
        width: 100%;
        display: none;
        justify-content: space-between;
        align-items: center;
        position: absolute;
    }
    .tree .left,
    .tree .right{
        width: 30%;
    }
    .tree .left img,
    .tree .right img{
        width: 100%;
        height: 100%;
    }
    .bg-for-mobile{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: url(./background-for-mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: block;
    }
    .content .logo{
        width: 70%;
        height: 100%;
        margin: 0px auto 0px;
    }
    .content .text{
        width: 70%;
        margin: 10px auto 0px;
    }
    .content .text img{
        width: 100%;
        height: 100%;
    }
    .content .detail{
        width: 80%;
    }
    .content .poster{
        width: 20%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: none;
    }
    .content .poster img{
        width: 100%;
        height: 100%;
    }
    .content .link-contact{
        width: 60%;
        margin: 10px auto 0px;
        padding: 10px;
    }
    .content .link-contact img{
        width: 100%;
        height: 100%;
    }
    .content .link-download{
        width: 100%;
        margin: 10px auto 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    .content .link-download img{
        width: 95%;
        height: 100%;
        padding: 5px;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .bg-for-desktop{
        display: none;
    }
    .tree{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
    }
    .tree .left,
    .tree .right{
        width: 28%;
    }
    .tree .left img,
    .tree .right img{
        width: 100%;
        height: 100%;
    }
    .bg-for-mobile{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: url(./background-for-mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: block;
    }
    .content .logo{
        width: 50%;
        height: 100%;
        margin: 60px auto 0px;
    }
    .content .text{
        width: 50%;
        margin: 10px auto 0px;
    }
    .content .text img{
        width: 100%;
        height: 100%;
    }
    .content .poster{
        width: 50%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: none;
    }
    .content .poster img{
        width: 100%;
        height: 50%;
    }
    .content .link-contact{
        width: 50%;
        margin: 10px auto 0px;
        padding: 30px;
    }
    .content .link-contact img{
        width: 100%;
        height: 100%;
    }
    .content .link-download{
        width: 80%;
        margin: 20px auto 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .content .link-download img{
        width: 95%;
        height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .content .logo{
        width: 50%;
        height: 100%;
        margin: 0px auto 0px;
    }
    .content .poster{
        width: 40%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: block !important;
    }
    .content .poster img{
        width: 100%;
        height: 40%;
    }
    .content .link-contact{
        width: 34%;
        margin: 10px auto 0px;
        padding: 30px;
    }
    .content .link-contact img{
        width: 100%;
        height: 100%;
    }
    .content .link-download{
        width: 50%;
        margin: 20px auto 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .content .link-download img{
        width: 95%;
        height: 100%;
    }
}

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg{
    width: 100%;
    height: 100%;
    position: fixed;
}
.content{
    position: absolute;
    top: 0;
    width: 100%;
}
.content .header{
    width: 100%;
    height: 150px;
}
.content .header img{
    width: 100%;
    height: 100%;
}
.content .tree{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}
.content .tree .right{
    width: 500px;
    height: 450px;
}
.content .tree .right img{
    width: 100%;
    height: 100%;
}
.content .logo{
    width: 400px;
    height: 120px;
    margin-top: -8.5%;
    padding: 10px;
}
.content .logo img{
    width: 100%;
    height: 100%;
}
.content .number{
    width: 250px;
    height: 130px;
    margin-top: 30px;
}
.content .number img{
    width: 100%;
    height: 100%;
}
.content .detail{
    width: 600px;
    height: 250px;
    padding: 20px;
    margin-top: 20px;
}
.content .detail img{
    width: 100%;
    height: 100%;
}
.content .button{
    width: 900px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .button a{
    width: 300px;
    height: 70px;
    background-color: #ff0505;
    padding: 8px;
    margin: 30px 50px;
    position: relative;
    transition: 0.3s;
    border-radius: 5px;
}
.content .button a:hover{
    background-color: #d10000;
}
.content .button a img{
    width: 100%;
    height: 100%;
}
.content .button a span-1{
    position: absolute;
    right: 29%;
    transform: translateX(-29%);
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.content .button a span-2{
    position: absolute;
    right: 12.2%;
    transform: translateX(-12.2%);
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.content .chart{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .chart a{
    width: 300px;
    height: 70px;
    background-color: #ff0505;
    padding: 10px;
    position: relative;
    transition: 0.3s;
    border-radius: 5px;
}
.content .chart a:hover{
    background-color: #d10000;
}
.content .chart a img{
    width: 100%;
    height: 100%;
}
.content .chart a span-3{
    position: absolute;
    right: 20%;
    transform: translateX(-20%);
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.content .cartoon{
    width: 500px;
    height: 400px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.content .cartoon img{
    width: 100%;
    height: 100%;
}
.content .gold{
    width: 100%;
    position: fixed;
    bottom: -50px;
}
.content .gold img{
    width: 100%;
    height: 100%;
}

@media (min-width: 320px) and (max-width: 480px){
    .content .header{
        width: 100%;
        height: 40px;
    }
    .content .tree{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: -5%;
    }
    .content .tree .left{
        width: 45%;
        margin-left: -50px;
    }
    .content .tree .left img{
        width: 100%;
        height: 100%;
    }
    .content .tree .right{
        width: 45%;
        height: 100%;
        margin-right: -50px;
    }
    .content .logo{
        width: 80%;
        height: 100%;
        margin-top: 80px;
        padding: 10px;
    }
    .content .number{
        width: 60%;
        height: 100%;
        margin-top: 0px;
    }
    .content .detail{
        width: 90%;
        height: 100%;
        padding: 20px;
        margin-top: 0px;
    }
    .content .button{
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content .button a{
        width: 100%;
        height: 100%;
        background-color: #ff0505;
        margin: 0px 5px;
        padding: 5px;
        transition: 0.3s;
        border-radius: 5px;
    }
    .content .chart{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content .chart a{
        width: 50%;
        height: 100%;
        background-color: #ff0505;
        padding: 5px;
        position: relative;
        transition: 0.3s;
        border-radius: 5px;
    }
    .content .cartoon{
        width: 500px;
        height: 400px;
        position: fixed;
        bottom: 0;
        left: 0;
        display: none;
    }
    .content .cartoon img{
        width: 100%;
        height: 100%;
    }
    .content .gold{
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: 0px;
        display: none;
    }
    .content .gold img{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .content .header{
        width: 100%;
        height: 40px;
    }
    .content .tree{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
    }
    .content .tree .left{
        width: 30%;
        margin-left: -50px;
    }
    .content .tree .left img{
        width: 100%;
        height: 100%;
    }
    .content .tree .right{
        width: 30%;
        height: 100%;
        margin-right: -50px;
    }
    .content .logo{
        width: 60%;
        height: 100%;
        margin-top: 0px;
        padding: 10px;
    }
    .content .number{
        width: 60%;
        height: 100%;
        margin-top: 0px;
    }
    .content .detail{
        width: 90%;
        height: 100%;
        padding: 20px;
        margin-top: 0px;
    }
    .content .button{
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content .button a{
        width: 100%;
        height: 100%;
        background-color: #ff0505;
        margin: 0px 5px;
        padding: 5px;
        transition: 0.3s;
        border-radius: 5px;
    }
    .content .chart{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content .chart a{
        width: 50%;
        height: 100%;
        background-color: #ff0505;
        padding: 5px;
        position: relative;
        transition: 0.3s;
        border-radius: 5px;
    }
    .content .cartoon{
        width: 500px;
        height: 400px;
        position: fixed;
        bottom: 0;
        left: 0;
        display: none;
    }
    .content .cartoon img{
        width: 100%;
        height: 100%;
    }
    .content .gold{
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: -10px;
        display: none;
    }
    .content .gold img{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .content .header{
        width: 100%;
        height: 40px;
    }
    .content .tree{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
    }
    .content .tree .left{
        width: 30%;
        margin-left: -50px;
    }
    .content .tree .left img{
        width: 100%;
        height: 100%;
    }
    .content .tree .right{
        width: 30%;
        height: 100%;
        margin-right: -50px;
    }
    .content .logo{
        width: 50%;
        height: 100%;
        margin-top: 0px;
        padding: 10px;
    }
    .content .number{
        width: 30%;
        height: 100%;
        margin-top: 0px;
    }
    .content .detail{
        width: 50%;
        height: 100%;
        padding: 20px;
        margin-top: 0px;
    }
    .content .button{
        width: 70%;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content .button a{
        width: 100%;
        height: 100%;
        background-color: #ff0505;
        margin: 0px 30px;
        padding: 5px;
        transition: 0.3s;
        border-radius: 5px;
    }
    .content .chart{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content .chart a{
        width: 29%;
        height: 100%;
        background-color: #ff0505;
        padding: 5px;
        position: relative;
        transition: 0.3s;
        border-radius: 5px;
    }
    .content .cartoon{
        width: 500px;
        height: 400px;
        position: fixed;
        bottom: 0;
        left: 0;
        display: none;
    }
    .content .cartoon img{
        width: 100%;
        height: 100%;
    }
    .content .gold{
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: -10px;
        display: none;
    }
    .content .gold img{
        width: 100%;
        height: 100%;
    }
} */